@font-face {
    font-family: 'Futura';
    src: url('../font/FuturaStd-Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }

body {
    width: 1400px; /* 1440px dont 20px padding L&R*/
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f5f3;
    padding: 0 20px 0 20px;
    font-family: 'Futura';
    color : #003680;
    /*border: red 1px solid;*/
    }

.bandeau-logo {
    height: 95px;
    /*border: green 1px solid;*/
    }

.float-left, .titre-compte { 
    float: left;
    }

.zone-compte { 
    float: right;
    padding-top: 13px;
    }

.zone-compte img {
    padding-top: 14px;
    }

.zone-compte img:nth-child(5) {
    margin-left: 25px;    
    }

.titre-compte {
    font-size: 140%;
    margin-right: 10px;
    margin-left: 10px;
	}

a {
    text-decoration: none;
}

a:hover {
    color: #a38724;
}

main section::after {
    content: "";
    display: table; 
    clear: both;
    }
    
.center {
    text-align: center;
    }
    
/***** NAV  *****/

nav ul {
    list-style-type: none;
    margin: 5px auto 0 auto;
    padding: 0;
    }

nav ul li {
    text-transform: uppercase;
    display: inline;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 140%;
    margin-left: 2px;
    background-color: #a38724;
    /*border: 1px solid red;*/
    }
    
nav ul li:first-child {
    margin-left: 0;    
    }

nav ul li a {
    color: white;
    }

nav ul li:hover {
    background-color: #003680;
    }
    
.carrousel {
    margin-left: -20px;
    margin-top: 15px;
    }

/***** SECTION - ARTICLE *****/
    
h1 {
    font-family: Arial;
    font-weight: 500;
    margin-left: 20px;
    font-size: 28px;
    }

h2 {
    color: #785919;   /* or couleur 2 du Guide des styles */
    font-weight: bold;
    }
    
article {
    width: 370px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    }

article:nth-child(3) {
    margin-left: 105px; /* 125px marge L&R avec colonne centrale*/
    margin-right: 105px;
    }

.titre-shira, .titre-mawanzi, .titre-kibo {
    font-family: Arial;
    font-size: 28px;
    font-weight: 500;
    }

.titre-shira {
    color: #a38724;   
    }

.titre-mawanzi {
    color: #785919;    
    }

.titre-kibo {
    color: #003680;
}

.photo-produit {
    height: 175px;
    text-align: center;
    }

.photo-produit img {
    margin-top: 40px;
    }

.prix-unite {

    font-size: 28px;
    }
    
.prix-centimes {
    font-size: 60%;
    }

.bouton-ajouter {
    float: right
    }

.encadre-blog {
    border: 1px solid;
    margin: 0 18px;
    }

.informations-blog {
    height: 120px;
    }

.date-blog {
    float: left;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 20px;
    }
    
.presentation-blog {
    padding-left: 90px;
    padding-right: 10px;
    font-size: 20px;
    }

/***** FOOTER *****/

footer {
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 40px;
    }

.footer-colonne {
    width : 25%;
    float: left
    }

.champs {
    height: 25px;
    width: 225px;
    border: 1px solid #003680;
}

.champs, footer img:last-child, input:last-child {
    vertical-align: middle;
}

input:last-child {
   background:url('../img/mail.gif');
   height: 32px;
   width: 44px;
    }

/*input:last-child:hover {
   background:url('../img/mail.gif'); **** A faire *
    }**/

/***** FICHE PRODUIT *****/

#product hr {
    border: 1px solid #a38724;
    width: 900px;
    margin-bottom: 20px;
    }

.description {
    min-height: 394px;
    width: 877px;
    border: 1px solid #003680;
    margin-left: 20px;
    padding: 30px;
    float: left;
    background-color: white;
    }
    
.stock {
    vertical-align: middle;
    }
   
.titre-stock {
    color: #a38724;
    padding-top: 2px;
    padding-left: 40px;
    }