@font-face {
    font-family: 'Futura';
    src: url('../font/FuturaStd-Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }

body {
    width: 1400px; /* 1440px dont 20px padding L&R*/
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f5f3;
    padding: 0 20px 0 20px;
    font-family: 'Futura';
    color : #003680;
    /*border: red 1px solid;*/
    }

.bandeau-logo {
    height: 95px;

    /*border: green 1px solid;*/
    }

.float-left, .titre-compte { 
    float: left;
    }

.zone-compte { 
    float: right;
    padding-top: 13px;
    }

.zone-compte img {
    padding-top: 14px;
    }

.zone-compte img:nth-child(5) {
    margin-left: 25px;    
    }

.titre-compte {
    font-size: 140%;
    margin-right: 10px;
    margin-left: 10px;
	}

a {
    text-decoration: none;
}

a:hover {
    color: #a38724;
}

.clear {
    clear: both;
    }
/***** NAV  *****/

nav ul {
    list-style-type: none;
    margin: 5px auto 0 auto;
    padding: 0;
    }

nav ul li {
    text-transform: uppercase;
    display: inline;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 140%;
    margin-left: 2px;
    background-color: #a38724;

    /*border: 1px solid red;*/
    }
    
nav ul li:first-child {
    margin-left: 0;    
    }

nav ul li a {
    color: white;
    }

nav ul li:hover {
    background-color: #003680;

    }

/***** SECTION - ARTICLE *****/

section {
 
    }

article {
    width: 30%;
    float: left;
    margin-left: 20px;
    margin-right: 20px;

    }

/***** FOOTER *****/

footer {
 margin-left: 20px;
 margin-right: 20px;
    }

.footer-colonne {
    width : 25%;
    float: left
    }

.champs {
    height: 25px;
    width: 225px;
    border: 1px solid #003680;
}

.champs, footer img:last-child, input:last-child {
    vertical-align: middle;
}

input:last-child {
   background:url('../img/mail.gif');
   height: 32px;
   width: 44px;
    }

/*input:last-child:hover {
   background:url('../img/mail.gif'); **** A faire *
    }**/