@font-face {
    font-family: 'Futura';
    src: url('../font/FuturaStd-Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }

body {
    width: 1400px; /* 1440px dont 20px padding L&R*/
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f5f3;
    padding: 0 20px 0 20px;
    font-family: 'Futura';
    color : #003680;
    /*border: red 1px solid;*/
    }

.bandeau-logo {
    height: 95px;
    /*border: green 1px solid;*/
    }

.float-left, .titre-compte { 
    float: left;
    }

.zone-compte { 
    float: right;
    padding-top: 13px;
    }

.zone-compte img {
    padding-top: 14px;
    }

.zone-compte img:nth-child(5) {
    margin-left: 25px;    
    }

.titre-compte {
    font-size: 140%;
    margin-right: 10px;
    margin-left: 10px;
	}

a {
    text-decoration: none;
}

a:hover {
    color: #a38724;
}

main section::after {
    content: "";
    display: table; 
    clear: both;
    }
    
.center {
    text-align: center;
    }
    
/***** NAV  *****/

nav ul {
    list-style-type: none;
    margin: 5px auto 0 auto;
    padding: 0;
    }

nav ul li {
    text-transform: uppercase;
    display: inline;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 140%;
    margin-left: 2px;
    background-color: #a38724;
    /*border: 1px solid red;*/
    }
    
nav ul li:first-child {
    margin-left: 0;    
    }

nav ul li a {
    color: white;
    }

nav ul li:hover {
    background-color: #003680;
    }
    
.carrousel {
    margin-left: -20px;
    margin-top: 15px;
    }

/***** SECTION - ARTICLE *****/
    
h1 {
    font-family: Arial;
    font-weight: 500;
    margin-left: 20px;
    font-size: 28px;
    }

h2 {
    color: #785919;   /* or couleur 2 du Guide des styles */
    font-weight: bold;
    }
    
article {
    width: 370px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    }

article:nth-child(3) {
    margin-left: 105px; /* 125px marge L&R avec colonne centrale*/
    margin-right: 105px;
    }

.titre-shira, .titre-mawanzi, .titre-kibo {
    font-family: Arial;
    font-size: 28px;
    font-weight: 500;
    }

.titre-shira {
    color: #a38724;   
    }

.titre-mawanzi {
    color: #785919;    
    }

.titre-kibo {
    color: #003680;
}

.photo-produit {
    height: 175px;
    text-align: center;
    }

.photo-produit img {
    margin-top: 40px;
    }

.prix-unite {

    font-size: 28px;
    }
    
.prix-centimes {
    font-size: 60%;
    }

.bouton-ajouter {
    float: right
    }

.encadre-blog {
    border: 1px solid;
    margin: 0 18px;
    }

.informations-blog {
    height: 120px;
    }

.date-blog {
    float: left;
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 20px;
    }
    
.presentation-blog {
    padding-left: 90px;
    padding-right: 10px;
    font-size: 20px;
    }

/***** FOOTER *****/

footer {
 margin-left: 20px;
 margin-right: 20px;
 margin-top: 40px;
    }

.footer-colonne {
    width : 25%;
    float: left
    }

.champs {
    height: 25px;
    width: 225px;
    border: 1px solid #003680;
}

.champs, footer img:last-child, input:last-child {
    vertical-align: middle;
}

.footer-colonne input:last-child {
   background:url('../img/mail.gif');
   height: 32px;
   width: 44px;
    }

/*input:last-child:hover {
   background:url('../img/mail.gif'); **** A faire *
    }**/

/***** FICHE PRODUIT *****/

#product hr {
    border: 1px solid #a38724;
    width: 900px;
    margin-bottom: 20px;
    }

.description {
    min-height: 394px;
    width: 877px;
    border: 1px solid #003680;
    margin-left: 20px;
    padding: 30px;
    float: left;
    background-color: white;
    }
    
.stock {
    vertical-align: middle;
    margin-top: 15px;
    }
   
.titre-stock {
    color: #a38724;
    padding-top: 17px;
    padding-left: 40px;
    }

#notations .entete {
    margin-top: 20px;    
    }

.encadre-notation {
    border: 1px solid;
    width: 434px;
    height: 183px;
    background-color: white;
    }
    
#notations article {
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    }
    
#notations article:nth-child(3) {   
    margin-left: 46px;
    margin-right: 46px;
    }

#notations article:last-child {   
    text-align: center;
    }

#notations article:last-child p {   
    margin-bottom: 0;
    }
    
.titre-notation {
    padding-left: 30px;
    padding-bottom: 10px;
    /* margin: 0; */
    font-size: 110%;    
    }

.titre-notation:first-child {
    padding-top: 10px;
    }

.barre-notation {
    position: relative;
    float: right;
    right: 20px;
    margin-top: 12px;
    }
    
.img-notation {
    position: relative;
    /* left: 30px; */
    /* top: 8px; */
    float: right;
    margin-right: 20px;
    }

.titre-aromatique {
    color: #a38724;   
    font-size : 110%;
}

.bouton-moins, .bouton-plus{
    width: 27px;
    height: 35px;
    float: left;
    background-image: url('../img/panier-moins.gif');
}

.bouton-plus {
    background-image: url('../img/panier-plus.gif');   
    }
    
.bouton-moins:hover, .bouton-plus:hover  {
    width: 27px;
    height: 35px;
    background-image: url('../img/panier-moins-on.gif');
    cursor: pointer;
}

.bouton-plus:hover  {
    background-image: url('../img/panier-plus-on.gif');
}

.bouton-acheter {
    width: 182px;
    height: 60px;
    float: right;
    margin-top: -65px;
    background-image: url('../img/bouton-acheter-off.gif');   
    }

.bouton-acheter:hover {
    background-image: url('../img/bouton-acheter-on.gif');
    cursor: pointer;
    }

#avis {
    width: 836px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.presentation-commentaire {
    text-align: left;
    }

#avis article {
    border: solid 1px;
    width: 834px;
    min-height: 100px;
    margin-left: 0; /* j'annule margin-left défini avant*/
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    }

#avis .date{
    float: right;
    }

.avis-client {
    padding-top: 8px;
    margin-left: 10px;   
    }
    
.zone-quantity {
    margin-top: 45px;    
    }

.zone-quantity input {
    float: left;
    width: 60px;
    height: 29px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    }

.poids-prix {
    width: 500px;    
    }

.information-poids {
    margin-left: 180px;
    margin-top: 17px;
    width: 500px;
    }
    
.price-product {
    border: 1px solid #a38724;
    padding: 9px 26px;
    margin-left: 40px;
    font-size: 150%;
    }